.error-block {
  padding: 20px;
  background-color: #fff5f5;
  border-left: 4px solid #f44336;
}
mat-card-title {
  font-weight: 600;
}
mat-card-content {
  padding: 0 !important;
}
p {
  color: #d32f2f;
}
